@@ -160,7 +160,7 @@ header.barra-vermelha nav ul li a:hover {

/* Cria o card cinza com bordas arredondadas */
.card-regras {
    background-color: #dddddd; /* Tom de cinza claro do Figma */
    background-color: #dddddd;
    padding: 25px 30px;
}
.banner-roda-gigante {